@font-face {
    font-family: "letras";
    src: url("../fonts/Hey\ Comic.ttf");
}
body{
    font-family: "letras", 'serif';
    background-image: url("../media/ajolote_fondo3.jpg");
}
#forms{
    background-color: rgb(236, 207, 170);
    width: 30rem;
    height: 30rem;
}
h1{
    color:rgb(212, 11, 105);
}
h2{
    color:rgb(194, 105, 160);
}
h5{
    color:rgb(119, 58, 96);
}
input{
    border-radius: 100px;
    border-style: none;
    background-color: rgb(201, 137, 172);
}
button{
    background-color: rgb(230, 178, 221);
    border-radius: 100px;
    border-color: rgb(219, 108, 201);
    padding: 10px;
}
button:hover{
    transition: 500ms;
    transform: scale(1.2);
}
a{
    outline: none;
    text-decoration: none;
    color:rgb(0, 0, 0);
}