/*Mia: Intente meter las casas en una sola fila y no pude, los de css porfi lo acomodan :(*/
/*#contenedorcasas{
    width: 90%;
    display: grid;
    display: grid;
    grid-template-rows:100px;
    text-align: center;
.casas{
    width: 33%;
    padding: 20px;
}*/