<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casas</title>
    <link rel="icon" href="../media/Ajolote.png" type="image/x-png">
    <link rel="stylesheet" href="../statics/css/style.css">
</head>
<body>
    <center>
        
        <div id="FondoTitulo"> </div>
        <div id="titulo">
            <h1>Elige tu casa</h1>
        </div>
        <div id="FondoTitulo2"> </div>
        
    </center>
    
    <center><div id="contenedorcasas">

        <div class="casas" id="Ajolotes">
            <img id="ImgAj" src="../media/casaajolote-removebg-preview.png" height="300px" width="400px">
            <div class="NomCasa" id="PAjolotes"><p>Ajolotes</p></div>
        </div>

        <div class="casas" id="Teporingos">
            <div class="NomCasa" id="PTeporingos"><p>Teporingos</p></div>
            <img id="ImgTepos" src="../media/teporingocasa.png" height="300px" width="400px">
        </div>

        <div class="casas" id="Halcones">
            <img id="ImgHal" src="../media/halconcasa-removebg-preview.png" height="300px" width="400px">
            <div class="NomCasa" id="PHalcones"><p>Halcones</p></div>
        </div>

    </div></center>
</body>
</html>