<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casas Curso Web 2023</title>
</head>
<body>
    <!--Este div va a ser el cuadro que contiene el form de inicio de sesión
    y que tiene el botón para dirigirse al registro en caso de necesitarlo 
    ninguno va a contener los Post o Get para no interferir con los que esten trabajando 
    en el php o js ni id´s para no confundir a los que esten en css -->
    <center><div >
        <h1>Bienvenidx!</h1>
        <br>
        <h2>Ingresa tus datos</h2>
        <br>
        <form>
            <h5>¿Aún no tienes una cuenta?</h5>
            <br> 
            <a href="registro.html"><button>Registrate aquí!</button></a>
        </form>
        <br><br><br>
        <form>
            <label>Nombre:
                <input type="text">
            </label>
            <br> <br>
            <label>Contraseña:
                <input type="text">
            </label>
            <br> <br>
            <input type="submit" value="Enviar">
            <br> <br>
        </form>
    </div></center>
</body>
</html>