<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="icon" href="../media/Ajolote.png" type="image/x-png">
    <script src="../Dynamics/js/script.js"></script>
    <link rel="stylesheet" href="../statics/css/style.css">
</head>
<body>
    <center><h1>Bienvenidx nuevx usuarix!</h1></center>
    <!--El div de el form de registro-->
    <br><br><br><br>
    <center><div>
        <form id="registro-form">
            <label>Nombre:
                <input type="text" name="usuario"> <!--Cupa, agregué nombre para extraer la info-->
            </label>
            <br> <br>
            <label>Contraseña:
                <input type="text" name="contrasena"> <!--Cupa, agregué nombre para extraer la info-->
            </label>
            <br> <br>
            <input type="button" value="Registrame" id="btnregistro"> <!--Cupa, agregue id y cambie el tipo a boton para que la petición sirva-->
            <br> <br>
        </form>
    </div></center>
</body>
</html>